<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Областной Гений</h1>

 


        <nav>
            <ul>
                {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('profile') }}">Профиль</a></li>
        <a href="{{ url_for('logout') }}">Выйти</a></li>
    {% else %}
    <li><a href="{{ url_for('login') }}">Войти</a></li>
    <li><a href="{{ url_for('register') }}">Регистрация</a></li>
    {% endif %}
    <li><a href="lectures.html">Лекции</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Загрузить лекцию</h2>
        <form action="{{ url_for('upload_lecture') }}" method="post" enctype="multipart/form-data">
            <input type="text" name="lecture_title" placeholder="Название лекции" required>
            <input type="text" name="lecture_type" placeholder="Тип лекции" required>
            <textarea name="lecture_content" placeholder="Содержание лекции" required></textarea>
            <input type="file" name="lecture_files" multiple required> <!-- Изменено на multiple -->
            <button type="submit">Загрузить лекцию</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2025</p>
    </footer>
</body>
</html>
