<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Областной Гений</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('login') }}">Войти</a></li>
                <li><a href="{{ url_for('register') }}">Регистрация</a></li>
                <li><a href="{{ url_for('upload_lecture') }}">Загрузить лекцию</a></li>
                <li><a href="{{ url_for('lectures') }}">Лекции</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>О приложении</h2>
            <p>
                Добро пожаловать в "Областной Гений" — приложение, которое позволяет пользователям загружать и делиться лекциями. 
                Здесь Вы можете найти разнообразные лекции по различным темам, а также загрузить свои собственные лекции для 
                других пользователей. Приложение создано для облегчения доступа к образовательным материалам и обмена знаниями.
            </p>
        </section>
        <section>
            <h2>Навигация</h2>
            <ul>
                <li><a href="{{ url_for('register') }}">Зарегистрируйтесь</a> для создания нового аккаунта.</li>
                <li><a href="{{ url_for('login') }}">Войдите</a> в свой аккаунт, чтобы получить доступ к дополнительным функциям.</li>
                <li><a href="{{ url_for('upload_lecture') }}">Загрузите лекцию</a> и поделитесь своими знаниями с другими.</li>
                <li><a href="{{ url_for('lectures') }}">Просмотрите лекции</a>, загруженные другими пользователями.</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Областной Гений. Все права защищены.</p>
    </footer>
</body>
</html>
